// COLORS

$color-primary: #60a3bc;
$color-primary-light: #82ccdd;
$color-primary-dark: #3c6382;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
